
.table tbody tr.selected td {
   	background-color: rgba(0,0,0,0.1);
}

.navbar {
   	background-color: rgba(0,0,255,0.1);
}

#mainTable > thead {
   	background-color: rgba(0,0,255,0.1);
}

#detailTable > tbody > tr > td:first-child {
	width: 10%;
	text-align: left;
}

#detailTable > tbody > tr > td:nth-child(2) {
	width: 30%;
	text-align: left;
}

.bookdetail > tbody > tr > td:first-child {
	width: 25%;
	font-weight: bold;
	text-align: right;
}

.bookdetail > tbody > tr > td:first-child:after {
	content: ":";
}
