ul.nav {
  	margin: 10px 5px 10px 5px;
	padding: 5px;
	text-indent: 0;
	list-style-type: 0;
	display: inline;
}

li.nav {
	background-color: lightblue;
	display: inline;
    border: 1px solid blue;
  	padding: 2px;
  	margin: 3px 5px 3px 5px;
	text-indent: 0;
	list-style-type: 0;
}

li.disabled {
	background-color: lightgray;
    border: 1px solid gray;
	color: gray;
}

div.pageinfo {
	display: block;
  	padding: 5px;
  	margin: 10px 5px 0px 5px;
}

div.pageinfo div {
	display: inline;
  	padding: 2px;
  	margin: 0px 10px 0px 0px;
}
